.body{
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif; 
}
.login{
    width: 350px;
    height: 420px;
    background:#fff; 
    color:#000;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
  box-shadow: 3px 3px 5px 5px #2b2929;
    text-decoration: none;
} 
.avatar{
    align-items: center;
}
.hero{
    height: 100%;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../image/log1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'RocknRoll One', sans-serif; 
}



.login-btn
{
    border: none;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    height:40px;
    width:80%;
    background:green;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}
.login-btn:hover
{
    cursor: pointer;
    background:rgb(51, 126, 51);
    color:#000;
}
.login-btn a{
    text-decoration: none;
    color: #fff;
}